.p-datatable .p-column-header-content {
    justify-content: center;
}

.p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
    border-left: 1px solid rgb(249, 248, 248);
    border-right: 1px solid rgb(249, 248, 248);
}

.p-datatable .p-datatable-thead > tr > th  {
    background-color: #FDDE55;
}


.delete-button:hover {
    background-color: red;
    color: azure;
}

.pi-search:before {
    margin-left: 0;
}


.p-datatable .p-datatable-header {
    background: #FEF9F2;
    border: none;
}

.p-datatable .p-paginator-bottom {
    background-color: #FEF9F2;
}


  
/* Small devices */
@media screen and (max-width: 576px) {
    
}

/* Medium devices*/
@media screen and (max-width: 768px) {

 }

 